	<div class="container-fluid">
		<div class="row">

			<div class="col-md-10">
					<!-- ng-if="coffee.id == coffeeID" -->
					<span ng-repeat="coffee in coffees | filter: { id: coffeeID}">
						<table class="table table-striped table-bordered" style="width:100%; text-align:left">
							<tr>
								<th>Rating</th>
								<th>Comment</th>
								<th>Reviewer</th>
							</tr>
							<tr ng-repeat="review in coffee.reviews">
								<td>{{review.rating}}</td>
								<td>{{review.comment}}</td>
								<td>{{review.reviewer}}</td>
							</tr>
						</table>
				<!-- 		<span >{{coffee.name}}</span> -->
					<!-- <p>{{coffee.reviews.comment}}</p>
					<p>{{coffee.reviews.reviewer}}</p> -->

					</span>
			</div>
		</div>
	</div>