<!-- <!DOCTYPE html>
<html lang="en" ng-app="view1">
<head>
	<meta charset="utf-8">
	<title>Coffee Listings</title>
  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  	<script src="bower_components/angular/angular.js"></script>
  	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">          
    <script src= "bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src= "bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src= "bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
  	<script src="view1/view1.js"></script>
</head> -->

<!-- <body ng-controller="View1Ctrl"> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				Search: <input ng-model="query">
			</div>
			<div class="col-md-10">
				<table class="table table-striped table-bordered" style="width:100%; text-align:left">
					<tr>
						<th>Name</th>
						<th>Brand</th>
						<th>Country</th>
						<th>Customer Reviews</th>
					</tr>
					<tr ng-repeat="coffee in coffees | filter:query | orderBy: 'name'">
						<td>{{coffee.name}}</td>
						<td>{{coffee.brand}}</td>
						<td>{{coffee.country}}</td>
						<td><a href='{{"#/view2?id=" + coffee.id}}'>Reviews</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<!-- </html> -->
